@font-face {
    font-family: 'TT';
    src: url('/src/TTLakes-Regular.ttf');
}

body {
    background-color: #F8F8F8;
    font-family: 'TT';
}

html,
body {
    overflow-x: hidden;
    max-width: 100vw;
}

.about {
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 100;
    width: 100%;


    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 20px;
        width: 90%;
        margin-left: 10px;
    }

    &-text {
        @media (min-width: 768px) {
            width: 100%;
            margin-right: 20px;
            margin-bottom: 10px;
        }

        &--hidden {
            display: none;

            @media (min-width: 768px) {
                display: block;
                margin-top: 10px;
            }
        }
    }

    p {
        padding-left: 10px;
    }

    &-text__more {
        display: flex;
        justify-content: left;
        flex-direction: row;
        margin-top: 10px;
        margin-left: 5px;
        font-weight: bold;
        margin-bottom: 20px;


        &-hidden {
            display: none;
            margin-bottom: 2vw;
            padding-left: 20px;
            gap: 5px;
            align-items: center;

            @media (min-width: 768px) {
                display: flex;
            }
        }
    }

    &__more p {
        margin-left: 5px;
        font-weight: bold;
        margin-top: 10px;
    }

    &__more img {
        width: 40px;
    }
}

.company {
    width: 100%;

    @media (min-width: 768px) {
        width: 100%;
        border-radius: 0.5em;
    }
}

.services {
    h1 {
        font-family: 'TT';
        font-size: 30px;
        font-weight: bold;
        border-left: 8px solid #41F6D7;
        gap: 5px;
        padding-left: 15px;
        margin-bottom: 15px;
    }

    &__container {
        margin-left: 5px;
        margin-bottom: 10px;
        display: flex;
        gap: 16px;
        overflow-x: auto;
        width: 100%;
        padding: 10px 5px;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;

        &--slide {
            font-size: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 230px;
            height: 40px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
            white-space: nowrap;
            background-color: white;
            border-radius: 8px;
            border: 2px solid #F8F8F8;
            padding: 0 15px;
        }
    }
}

.repair {
    &__head {
        display: flex;
        align-items: center;
        font-family: 'TT';
        font-size: 15px;
        height: 60px;
        color: #7E7E82;
        padding-left: 20px;
        padding-top: 5px;
        margin-bottom: 15px;
        background-color: white;
        border-top: 1px solid #41F6D7;
        width: 100%;
    }

    &__container {
        margin-left: 5px;
        margin-bottom: 10px;
        display: flex;
        gap: 25px;
        overflow-x: auto;
        width: 100%;
        padding: 10px 5px;
        scrollbar-width: none;

        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: 30% 30% 30%;
            gap: 3%;
            max-height: 150px;
            overflow: hidden;
        }

        &--slideBrand {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 200px;
            height: 50px;
            white-space: nowrap;
            background-color: white;
            border-radius: 8px;
            border: 2px solid #F8F8F8;
            padding: 0 15px;
            flex-shrink: 0;
        }

        &--slideTech {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 200px;
            height: 150px;
            white-space: nowrap;
            background-color: white;
            border-radius: 8px;
            border: 2px solid #F8F8F8;
            padding: 0 15px;
            flex-shrink: 0;
            position: relative;

            p {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 10;
                padding: 20px;
            }

            img {
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 10;
                padding: 20px;
                width: 40px;
                height: 40px;
            }
        }

        &--slidePrice {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 200px;
            height: 150px;
            background-color: white;
            position: relative;
            flex-shrink: 0;
            border-radius: 8px;
            border: 2px solid #F8F8F8;
            padding: 10px;

            @media (min-width: 768px) {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 95%;
                height: 50px;
                align-items: center;
            }
        }
    }
}

.prices {
    @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 0;
        max-height: max-content;
        overflow: auto;
    }

}

.slidePrice-element {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100px;

    h3 {
        font-size: 12px;
        color: #7E7E82;
        width: 150px;

        @media (min-width: 768px) {
            display: none;
        }
    }

    p {
        font-size: 12px;
        width: 200px;

        @media (min-width: 768px) {
            font-size: 14px;
            width: 250px;
        }
    }
}

.price-head-hidden {
    display: none;

    @media (min-width: 768px) {
        display: flex;
        background: none;
        font-size: 20px;
        color: darkgrey;
        font-weight: 100;
    }
}

.desc-price {
    margin-right: 30px;
    width: 60%;
}

.order-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 10px;
    margin-bottom: 15px;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 15px;
    background-color: #FF3E79;
    color: white;
    font-size: 13px;
    font-family: 'TT';
    font-weight: 600;
    cursor: pointer;

    @media (min-width: 768px) {
        position: relative;
        margin-bottom: 0;
    }
}

.logo-company {
    width: 70px;
    height: 20px;
    object-fit: contain;
}

.go-btn {
    width: 30px;
    height: 30px;
    object-fit: contain;
    cursor: pointer;
}

.get {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    width: 70%;

    @media (min-width: 768px) {
        width: 100%;
        padding-left: 20px;
    }

    &-img {
        color: #FF3E79;
        margin-left: 5px;
    }
}