.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    gap: 10px;
    margin-top: 20px;

    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        padding-left: 10px;
        padding-right: 10px;

        &__row {
            color: #7E7E82;
            text-align: center;
            width: 300px;

            &-left {
                text-align: left;
            }

            &-right {
                text-align: right;
            }
        }


    }
}