* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-cl-grey);
}

.header {
    border-bottom: 4px solid #D9FFF5;
    background-color: white;
    height: 85px;

    @media (min-width: 1440px) {
        display: none;
    }

    &-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 55%;

        @media (min-width: 768px) {
            justify-content: flex-start;
            gap: 4vw;
        }
    }

    &-right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 45%;

        @media (min-width: 768px) {
            justify-content: flex-end;
            gap: 3vw;
        }
    }

    &__navigation {
        display: flex;
        align-items: center;
        padding: 15px 10px 15px 10px;
        list-style-type: none;


        &--link {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background-color: var(--pink-item);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                border-color: transparent;
                background-color: #FFE0E9;

                img {
                    filter: brightness(0) saturate(100%) invert(33%) sepia(98%) saturate(1000%) hue-rotate(315deg) brightness(95%) contrast(101%);
                }
            }

            &-hidden {
                display: none;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                background-color: var(--pink-item);
                justify-content: center;
                align-items: center;
                cursor: pointer;

                @media(min-width: 768px) {
                    display: flex;
                }
            }
        }

        &--logo img {
            width: 90px;
            margin-right: 5vw;
        }

        &--divider {
            width: 4px;
            height: 35px;
            border-radius: 8px;
            background-color: var(--divider);
        }

        &--divider1 {
            width: 4px;
            height: 35px;
            border-radius: 8px;
            background-color: var(--divider);
            display: none;

            @media (min-width: 768px) {
                display: block;
            }
        }

    }
}