* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;
}

.header {
    border-bottom: 4px solid #D9FFF5;
    background-color: white;

    &-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 55%;

        @media (min-width: 768px) {
            justify-content: flex-start;
            gap: 4vw;
        }
    }

    &-right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 45%;

        @media (min-width: 768px) {
            justify-content: flex-end;
            gap: 3vw;
        }
    }

    &__navigation {
        display: flex;
        align-items: center;
        padding: 15px 10px 15px 10px;
        list-style-type: none;


        &--link {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background-color: #FF3E79;
            display: flex;
            justify-content: center;
            align-items: center;

            &-hidden {
                display: none;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                background-color: #FF3E79;
                justify-content: center;
                align-items: center;

                @media(min-width: 768px) {
                    display: flex;
                }
            }
        }

        &--logo img {
            width: 90px;
            margin-right: 5vw;
        }

        &--divider {
            width: 4px;
            height: 35px;
            border-radius: 8px;
            background-color: #EAEAEA;
        }

        &--divider1 {
            width: 4px;
            height: 35px;
            border-radius: 8px;
            background-color: #EAEAEA;
            display: none;

            @media (min-width: 768px) {
                display: block;
            }
        }

    }
}