@font-face {
    font-family: 'TT';
    src: url('/src/TTLakes-Regular.ttf');
}

#callModal,
#messageModal {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 120;
    overflow-y: auto;
    background-color: white;

    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    @media (min-width: 768px) {
        width: 350px;
        transform: translateX(350px);
    }
}

#callModal.open {
    transform: translateX(0);
    box-shadow: 8px 0 20px rgba(0, 0, 0, 0.3);
}

#messageModal.open {
    transform: translateX(0);
    box-shadow: 8px 0 20px rgba(0, 0, 0, 0.3);
}

#modal__close {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #FF3E79;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: none;
    margin: 15px;
    cursor: pointer;
}

.modal {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 10px;
    overflow-y: auto;
    position: relative;

    &__heading {
        font-family: 'TT';
        font-size: 20px;
        font-weight: bold;
        border-left: 5px solid #41F6D7;
        padding-left: 10px;
        margin-bottom: 15px;
        padding-top: 10px;
        padding-bottom: 5px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__textarea {
        padding-left: 10px;
        padding-top: 10px;
        font-family: 'TT';
    }

    &__input {
        width: 90%;
        padding-left: 10px;
        margin-left: 10px;
        border: 2px solid #EAEAEA;
        height: 50px;
        border-radius: 1em;
    }

    p {
        padding-left: 10px;
        font-size: 14px;

        a {
            color: #FF3E79;
            font-weight: bold;
        }

        a:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    &__send {
        margin: 10px 10px 15px 60%;
        width: 120px;
        height: 30px;
        border: none;
        border-radius: 15px;
        background-color: #FF3E79;
        color: white;
        font-size: 13px;
        font-family: 'TT';
        font-weight: 600;
        cursor: pointer;
    }
}